#about{
	flex-direction: column;
}

#bio{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 50%;
    height: 100%;
    padding: 0 1vw 0 4vw;
}

#bio p{
    margin-bottom: 25px;
    color: var(--color-darkGray);
    font-size: 18px;
} 
