
.hero-container {
    width: 100vw;
    max-width: 100%; /* to avoid horizontal overflow */
    height: 100vh;
  }
  
  .hero {
    z-index: 50;
    position: relative;
    display: flex;
    padding-left: 10vw;
    width: 100%;
    margin: 25vh auto;
    color: var(--color-white);
  }
  
  .hero-content h1,
  h2 {
    margin-bottom: 30px;
  }
  
  .hero-content p{
    color: var(--color-gray); 
  }
  
  .hero-content h2{
    color: var(--color-darkRed);
  }
  
  .hero-content p {
    width: 500px;
    font-size: 20px;
    line-height: 1.3;
  }
  
  /* ---- particles.js container ---- */
  
  #particles-js {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #b61924;
    background-image: url("../assets/img/background/background-hero.jpeg");
    background-size: cover;
  }
  
  
  