#skills{
    position: relative;
    flex-direction: column;
    background-color: var(--color-blue);
    margin-bottom: 50px;
}

/* category */

.categories{
    display: flex;
    flex-flow: row;
    gap: 25px;
    color: var(--color-white);
}

/* skills-container */

#skills_box{
    position: relative;
    width: 100%;
    height: 500px;
}

.skills-container{
    display: grid;
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%);
    grid-template-columns: repeat(auto-fill, 125px);
    grid-gap: 35px;
    margin-top: 35px;
    min-width: 37vw;
    transition: opacity 0s ease, transform 1s ease;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 50%;
    margin: auto;
}

.skills-container.show {
    opacity: 1;
    visibility: visible;
}

.skills-container.show .skill{
    transform: translateY(0px);
}

.skill{
    margin: 25px auto;
    width: 125px;
    background-color: white;
    text-align: center;
    border-radius: 20px;
    box-shadow : 0px 0px 10px rgba(28, 28, 51, 0.15);
    transform: translateY(20px);
    transition: transform 0.5s ease;
    padding-top: 7px;
    box-sizing: border-box;
}

.skill a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    overflow: hidden;
}

.skill a img{
    width: 100%;
    transition: 0.7s;
}

.skill a:hover img{
    transition: 0.7s;
    transform: scale(1.05);
}

.skill span{
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 25px;
}

/* separator */

.separator {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.separator svg {
    position: relative;
    display: block;
    width: calc(162% + 1.3px);
    height: 41px;
}

.separator .shape-fill {
    fill: var(--color-white);
}